@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    background: #E5E5E5;
}

header {
    grid-area: header;
}

.logo {
    width: 20%;
    margin-left: 10px;
    padding-top: 10px;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
}

.textArea {
    width: 100%;
    border: none;
    color: #0a3871;
    resize: none;
    text-align: center;
    font-size: 24px;
    background: #E5E5E5;
    font-weight: 600;
}

::placeholder {
    color: #0a3871;
}


.textArea:focus {
    outline: none;
}


.info {
    display: flex;
    gap: 5px;
}

h6 {
    color: #495057;
    gap: 5px;
}

.info img {
    width: 20px;
}

.caja-botones {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    align-items: center;
}

.botonEncriptar {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    height: 67px;
    width: 300px;
}

.botonDesencriptar {
    background-color: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    height: 67px;
    width: 300px;
}

.msj-contenedor {
    display: flex;
    justify-content: center;
}

.mensaje {
    background: #FFFFFF;
    width: 100%;
    border-radius: 32px;
    color: #0a3871;
    border: none;
    resize: none;
    margin-top: 80px;
    position: relative;
    padding: 20px;
    font-weight: 600;
    font-size: 24px;
}

.mensaje:focus {
    outline: none;
}

.muneco {
    position: absolute;
    z-index: 100;
    align-self: center;
    width: 310px;
}

.botonCopiar {
    width: 300px;
    background-color: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    height: 67px;
    margin-top: 485px;
    position: absolute;
}

footer {
    grid-area: footer;
}

footer p {
    text-align: center;
    font-size: 16px;
}



